@using ShopM4_Utility;
@model IEnumerable<Product>

<h1>Shooping Cart</h1>

<p><a class="btn btn-primary" asp-controller="Home">Continue Shopping</a></p>


@if (Model.Count() > 0)
{
        <form method="post" asp-action="Summary">


        @{
            double _totalPriceProducts = 0;
        }
       
        <div class="block-1" style="display: block">
            
            @foreach (var prod in Model)
            {
               <partial name="_ProductCard" model="(prod,true)" style="display:flex"/>
               _totalPriceProducts += prod.TempCount * prod.Price;
            }
        </div>
        


        <div class="block-2" style="clear: both">
            @if (User.IsInRole(PathManager.AdminRole))
            {
                <h2>Total: @_totalPriceProducts</h2>
                <input type="submit" value="Update Cart" class="btn btn-info form-control" asp-action="Update" />
            }

            <button type="submit" class="btn btn-success"style="margin:15px 5px 5px 0px" >
                Continue
            </button>

        </div>
        </form>
}
else
{
    <p>Cart is emty</p>
}