@using ShopM4_Utility;
@model IEnumerable<Product>

<h1>Shooping Cart</h1>

<p><a class="btn btn-primary" asp-controller="Home">Continue Shopping</a></p>


@if (Model.Count() > 0)
{
        <form method="post" asp-action="Summary">

        <!--foreach (var item in Model)
            {-->
                             <div class="block-1" style="display: block">
                @foreach (var prod in Model)
                {
                        <partial name="_ProductCard" model="prod" style="display:flex"/>
                }
            </div>
                        <!-- <p>
                        <img src="PathManager.ImageProductPath@item.Image" width="100" class="rounded" />
                    </p>

                    <p>
                        Product Name: item.Name
                    </p>

                    <p>
                        Description: item.ShortDescription
                    </p>

                    <p>
                        Price: item.Price
                    </p>

                    <p>
                        <a class="btn btn-danger" asp-action="Remove" asp-route-Id="item.Id">
                            TRASH
                        </a>
                    </p>
        }-->


                                <div class="block-2" style="clear: both">

                            <button type="submit" class="btn btn-success"style="margin:15px 5px 5px 0px" >
                    Continue
                </button>

                </div>
        </form>
}
else
{
        <p>Cart is emty</p>
}