@using ShopM4_Utility
@using ShopM4_Models
@model List<Product>

<h1>Shooping Cart</h1>

<div>
    <a class="btn btn-primary" asp-controller="Home">Continue Shopping</a>
    <a class="btn btn-warning" asp-action="Clear">Clear Cart</a>
</div>



@if (Model.Count() > 0)
{
      
    double _totalPriceProducts = 0;
            
       
    <div style="display: block">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <input asp-for="@Model[i].Id" hidden/>
                ProductCard prodCard = new ProductCard() { Product = Model[i], IsItImportantForAdmin=true, ShowInCart=true };
            <partial name="_ProductCard" model="prodCard" style="display:flex"/>
            _totalPriceProducts += Model[i].TempCount * Model[i].Price;
             
        }
    </div>
        
            
    <form method="post" asp-action="Summary">
        <div style="clear: both">
            @if (User.IsInRole(PathManager.AdminRole))
            {
                <h2>Total: @_totalPriceProducts</h2>
            }
            <button type="submit" class="btn btn-success" style="margin:15px 5px 5px 0px" asp-action="Summary" asp-controller="Cart">
                Continue
            </button>

        </div>
    </form>
}
else
{
    <p>Cart is emty</p>
}