
@model ShopM4_Models.ViewModels.QueryViewModel

<form method="post">
    <input hidden asp-for="QueryHeader.Id" />
    <a asp-action="Index" class="btn form-control btn-warning">Back</a>
    <h2>Information</h2>
    <table>
        <tr>
            <td>Name</td>
            <td><input asp-for="QueryHeader.FullName" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input asp-for="QueryHeader.PhoneNumber" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input asp-for="QueryHeader.Email" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Query Date</td>
            <td><input readonly value="@Model.QueryHeader.QueryDate.ToShortDateString()" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td><input value="Change" type="submit" formaction="/Query/Details" class="form-control btn-info"/></td>
         
            <td><input value="Delete" type="submit" formaction="/Query/Delete"  class="form-control btn-danger"/></td>
        </tr>
    </table>
    <br />

    <h2>Details</h2>
    @foreach(var item in Model.QueryDetail)
    {
        <h5>Product Name: @item.Product.Name</h5>
        <p>Price: @item.Product.Price$</p>
    }
    
</form>
